* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-weight: 400;
  line-height: 1.7;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/* START LEFT SIDE BAR */

.leftsidebars {
  background-color: #000;
  color: #f4f4f4;
}

.nav-item.nav-categories {
  color: #fff;
  opacity: 0.9;
  margin: 10px 0;
}

.nav-item .sidebarlinks {
  opacity: 0.9;

  position: relative;
}

.nav-item .sidebarlinks:hover {
  opacity: 1;
  background-color: #666;
}

.nav-item .sidebarlinks .mores {
  position: absolute;
  top: 50%;
  right: 10%;

  transform: translateY(-50%);
}

.sidebarlinks.currents {
  background-color: #444;

  box-shadow: 1px 0 5px #222;
}
