//

@use "../abstract/function" as fun;
@use "../abstract/placeholder";

.hor-navbars {
  @extend %navGrid;

  &__left {
    background-color: fun.getColor(primary);
  }
}

.sidebar {
  height: 100vh;

  &-left {
    background-color: fun.getColor(primary);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5rem;
  }

  &-logo {
    color: fun.getColor(light);
    padding: 2rem;

    @extend %df-sc;
    gap: 1rem;

    &__img {
      height: 4rem;
    }

    &__txt {
      font-size: 1.8rem;
    }
  }

  &-right {
    background-color: fun.getColor(light);
  }
}

.navbars {
  padding-bottom: 3rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.footer {
  width: 60%;
  margin-inline: auto;
  display: grid;
  align-content: end;
}
