//

@use "../abstract/function" as fun;
@use "../abstract/placeholder";
@use "../abstract/mixin" as mx;

//

.navbars {
  /*  WRAPPER  */

  &-side__wrapper {
    overflow-y: auto;

    /*   IE and Edge    */

    -ms-overflow-style: none;

    /*    Firefox     */

    scrollbar-width: none;

    /*   Chrome, Safari and Opera   */

    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-logo {
    grid-area: 1 / 1 / 2 /2;

    &__wrapper {
      height: 100%;
      padding-inline-start: 2rem;

      display: flex;
      align-items: center;
      justify-content: start;
      gap: 1rem;

      @include mx.media(62em) {
        justify-content: center;
        padding-inline-start: 0;
      }
    }

    &__img {
      width: 4rem;
      @include mx.media(62em) {
        width: 3rem;
      }
    }

    &__txt {
      font-size: 1.8rem;

      transition: all 0.2s;

      @include mx.media(62em) {
        display: none;
      }
    }
  }

  &-horizontal {
    grid-area: 1 / 2 / 2 / 3;
  }

  &-side {
    grid-area: 2 / 1 / 3 / 2;

    height: calc(100vh - 6rem);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5rem;

    @include mx.media(62em) {
      height: calc(100vh - 5rem);
      grid-template-rows: 1fr;
    }
  }
}

.mobile-navbars {
}

.main-content {
  grid-area: 2 / 2 / 3 / 3;
}
