//

.navbars {
  &-logo {
    grid-area: 1 / 1 / 2 /2;

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__img {
      width: 4rem;
    }
  }
}
