//

@mixin dflex($dir: row, $jus: start, $align: start) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jus;
  align-items: $align;
}

//

@mixin media($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}
