//

@use "../abstract/function" as fun;

@use "../abstract/mixin" as mx;

.navbars {
  /* SIDE WRAPPER */

  &-title {
    color: fun.getColor(dark-2);
    letter-spacing: 0.015rem;
    font-size: 1.1rem;
    padding: 1.2rem 1rem;

    &:not(:first-of-type) {
      margin-top: 1.3rem;
    }

    @include mx.media(62em) {
      display: none;
    }
  }

  &-parent {
    grid-template-columns: 2rem 1fr auto;
    gap: 0.3rem;

    align-items: center;

    padding: 0.8rem 2rem 0.8rem 1.4rem;
  }

  &-icon {
    font-size: 1.4rem;
  }

  &-sub {
    @include mx.media(62em) {
      display: none;
    }
  }

  &-link {
    color: fun.getColor(secondary-4);
    font-size: 1.2rem;

    display: grid;

    &:hover {
      color: fun.getColor(secondary-light);
    }

    @include mx.media(62em) {
      place-items: center center;
      span,
      .navbars-icon {
        display: none;
      }

      i {
        font-size: 1.7rem;
      }
    }
  }

  &-child {
    padding: 0.6rem 3.75rem;
  }

  &-footer {
    color: fun.getColor(secondary-4);
    display: grid;
    align-items: end;
    &__txt {
      width: 60%;
      margin-inline: auto;
      text-align: center;
      padding-bottom: 0.5rem;

      @include mx.media(62em) {
        display: none;
      }
    }
  }
}
