//

@use "../abstract/function" as fun;

.sidebar {
  &-logo {
    &__txt {
      letter-spacing: 0.1rem;
    }
  }
}

.navbars {
  &-title {
    color: fun.getColor(dark-2);
    font-size: 1.1rem;
    padding: 2rem 1.7rem 1.2rem;
    letter-spacing: 0.02rem;
  }

  &-items {
    padding: 0.8rem 2.5rem;
  }

  &-link {
    color: fun.getColor(secondary-4);
    font-size: 1.3rem;
    transition: color 0.3s;
    letter-spacing: 0.02rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    &:hover {
      color: fun.getColor(light-1);
    }
  }
}

.active {
  color: fun.getColor(light-1);
}

.footer {
  &-copyright {
    font-size: 1.3rem;
    color: fun.getColor(secondary-4);
  }
}
